
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Kitap Tablosu</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Kitap İsmi</th>
                    <th>Türü</th>
                    <th>Yazarı</th>
                    <th>Düzenle</th>
                </tr>
            </thead>
            <tbody id="bookBody">

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">

    </div>
</div>
@section JS{ 

    <script src="~/js/CustomScripts/Book/listBook.js"></script>
}

